# 运行时下载/生成物
purpur.jar
versions/
libraries/
cache/

# 世界数据（含旧世界备份）
world/
world_nether/
world_the_end/
world_old*/
world_nether_old*/
world_the_end_old*/

# 日志
logs/
*.log

# 服务端生成的配置
config/
version_history.json
bukkit.yml
spigot.yml
purpur.yml
pufferfish.yml
commands.yml
help.yml
permissions.yml
ops.json
usercache.json
whitelist.json
banned-ips.json
banned-players.json
plugins/
